Repository vim/vim, pull requests merged in 2023-12, with the labels that each got.

#13603 Disable the test_terminal_resize() test for GH CI in GUI
  src/testdir/test_terminal2.vim
Labels: CI

#13601 CI: check that all files are listed in Filelist
  .github/workflows/ci.yml
  Filelist
  ci/unlisted.make
Labels: CI

#13626 Docs: non-existent parameter in command
  runtime/doc/change.txt
Labels: documentation

#13631 Update todo items
  runtime/doc/todo.txt
  runtime/doc/vim9class.txt
Labels: documentation

#13645 runtime(doc): Update eval.txt
  runtime/doc/eval.txt
Labels: documentation

#13636 runtime(doc): link cmdline completion to to |wildcards|
  runtime/doc/cmdline.txt
  runtime/doc/eval.txt
  runtime/doc/indent.txt
  runtime/doc/os_vms.txt
  runtime/doc/syntax.txt
  runtime/doc/term.txt
  runtime/doc/vim9.txt
Labels: documentation

#13660 Fix examples in comments for JSON format
  runtime/autoload/dist/json.vim
Labels: runtime

#13664 labeler.yml: update for v5
  .github/labeler.yml
Labels: CI

#13673 label.yml: fixup for v5
  .github/workflows/label.yml
Labels: CI

#13677 CI: Fix labeler.yml
  .github/labeler.yml
Labels: CI

#13680 CI: Fix i386 build
  .github/workflows/ci.yml
Labels: CI

#13681 netrw: escape curdir in BrowseUpDir, fixes #13678
  runtime/autoload/netrw.vim
Labels: plugin-netrw

#13597 runtime(cmake): sync runtime files with upstream
  runtime/indent/cmake.vim
  runtime/syntax/cmake.vim
Labels: runtime

#13699 Updated Irish translation
  src/po/ga.po
Labels: translation

#13710 Update Turkish translations
  src/po/tr.po
Labels: translation

#13728 runtime(doc): Create Changelog until v9.0.2175
  runtime/doc/version9.txt
Labels: documentation

#13725 runtime(doc): Update change.txt
  runtime/doc/change.txt
Labels: documentation

#13724 CI: change dependabot prefix to "CI"
  .github/dependabot.yml
Labels: CI

#13720 updated 8th.vim
  runtime/syntax/8th.vim
Labels: runtime

#13723 translation(ja): Update Japanese translations
  runtime/doc/vimtutor-ja.UTF-8.1
  runtime/doc/xxd-ja.UTF-8.1
  runtime/lang/menu_ja_jp.euc-jp.vim
  runtime/lang/menu_ja_jp.utf-8.vim
  runtime/lang/menu_japanese_japan.932.vim
  src/po/ja.euc-jp.po
  src/po/ja.po
  src/po/ja.sjis.po
Labels: translation

#13718 prevent E11 on FocusGained autocommand
  runtime/autoload/netrw.vim
Labels: plugin-netrw

#13719 Update Serbian messages translation
  src/po/sr.po
Labels: translation

#13738 runtime(doc): reformat :h ft-c-syntax
  runtime/doc/syntax.txt
Labels: documentation

#13737 translation(sr): Update Serbian messages translation
  src/po/sr.po
Labels: translation

#13747 Add some error codes to `:help vim9class`
  runtime/doc/tags
  runtime/doc/vim9class.txt
Labels: documentation

#13760 Update Ukrainian translation
  src/po/uk.cp1251.po
  src/po/uk.po
Labels: translation

#13750 Add `:help` for variable categories and null related.
  runtime/doc/tags
  runtime/doc/vim9.txt
Labels: documentation

#13772 Add help tag multiple-constructors.
  runtime/doc/tags
  runtime/doc/vim9class.txt
Labels: documentation

#13795 Bring up to date the :public example
  runtime/doc/vim9class.txt
Labels: documentation

#13788 translation(ru): Updated Russian translation
  src/po/ru.cp1251.po
  src/po/ru.po
Labels: translation

#13782 add Hungarian translation
  src/po/Make_all.mak
  src/po/hu.po
Labels: translation

#13796 translation(de): Updated German translation
  src/po/de.po
Labels: translation

#13801 Add help tags to items in version9.txt
  runtime/doc/version9.txt
Labels: documentation
