Repository vim/vim, pull requests merged in 2023-11, with the labels that each got.

#13469 Update sh.vim
  runtime/syntax/sh.vim
Labels: runtime

#13430 Switch Hindu-Arabic to Arabic numerals
  runtime/keymap/arabic_utf-8.vim
Labels: i18n

#13497 runtime(wget): Update for Wget2 2.1.0
  runtime/ftplugin/wget.vim
  runtime/ftplugin/wget2.vim
  runtime/syntax/wget.vim
  runtime/syntax/wget2.vim
Labels: runtime

#13506 labeler.yml: add documentation
  .github/labeler.yml
Labels: CI

#13511 labeler.yml: Add some rules
  .github/labeler.yml
Labels: CI

#13507 labeler.yml: doc: use all instead of any
  .github/labeler.yml
Labels: CI

#13498 runtime(doc): Add missing null_<type> help tags
  runtime/doc/tags
  runtime/doc/vim9.txt
Labels: documentation

#13496 Update usr_51.txt
  runtime/doc/usr_51.txt
Labels: documentation

#12923 runtime(vim): Improve :let-heredoc syntax highlighting
  runtime/syntax/vim.vim
Labels: runtime

#13517 Renamed "makefile_*.mak" for Vim documentation
  runtime/doc/Make_all.mak
  runtime/doc/Make_mvc.mak
  runtime/doc/Makefile
Labels: documentation

#13525 fix: a bit nicer termdebug breakpoint sign label
  runtime/doc/terminal.txt
  runtime/pack/dist/opt/termdebug/plugin/termdebug.vim
  src/testdir/test_termdebug.vim
Labels: runtime, termdebug

#13538 Update Serbian messages translation
  src/po/sr.po
Labels: translation

#13548 runtime(doc): minor typo fixes
  runtime/doc/if_ole.txt
  runtime/doc/options.txt
Labels: documentation

#13549 Tweaking of some documents. Mainly whitespace related.
  runtime/doc/builtin.txt
  runtime/doc/eval.txt
  runtime/doc/options.txt
  runtime/doc/term.txt
  runtime/doc/vim9class.txt
Labels: documentation

#13542 runtime(netrw): when expanding $COMSPEC, do not consider 'wildignore'
  runtime/autoload/netrw.vim
Labels: plugin-netrw

#12150 netrw: Fix handling of very long filename on longlist style
  runtime/autoload/netrw.vim
Labels: plugin-netrw

#13576 indentation for tsx files (fixes #13574)
  runtime/indent/typescriptreact.vim
Labels: runtime
