Repository vim/vim, pull requests merged in 2023-08, with the labels that each got.

#12715 Add Unison support
  runtime/filetype.vim
  runtime/ftplugin/unison.vim
  runtime/syntax/unison.vim
  src/testdir/test_filetype.vim
Labels: runtime

#12679 Manpager: apply s commands with nogdefault
  runtime/plugin/manpager.vim
Labels: needs feedback

#12662 Change "the" to "then" under ':help bufload()'
  runtime/doc/builtin.txt
Labels: documentation, needs feedback

#12696 Add commentstring for nix file format
  runtime/ftplugin/nix.vim
Labels: needs feedback

#11890 Update iss syntax file
  runtime/syntax/iss.vim
Labels: runtime

#12798 Update syntax/fortran.vim
  runtime/syntax/fortran.vim
Labels: runtime

#12797 Update syntax/muttrc.vim to latest mutt
  runtime/syntax/muttrc.vim
Labels: runtime

#12796 The keyboard layout "russian-typograph" has been updated to version 3.3
  runtime/keymap/russian-typograph.vim
Labels: runtime

#12787 Update zh_CN messages
  src/po/zh_CN.UTF-8.po
Labels: translation

#12823 Use string interpolation in the cfilter plugin
  runtime/pack/dist/opt/cfilter/plugin/cfilter.vim
Labels: runtime

#12820 Update sr.po
  src/po/sr.po
Labels: translation

#12608 man.vim: Uniformly place cursor at the same column with `Ctrl-t`
  runtime/autoload/dist/man.vim
Labels: runtime

#12609 man.vim: Recognise hyphenated-at-eol cross-references
  runtime/autoload/dist/man.vim
  runtime/syntax/man.vim
Labels: runtime

#7873 Keywords 'of' and 'yield' for Javascript.
  runtime/syntax/javascript.vim
Labels: runtime

#7351 bindzone runtime: add new DNS record types
  runtime/syntax/bindzone.vim
Labels: runtime

#8055 Add TODO, FIXME to Haskell syntax file
  runtime/syntax/haskell.vim
Labels: runtime

#12843 Add new sed ftplugin
  .github/CODEOWNERS
  runtime/ftplugin/sed.vim
Labels: runtime

#12864 Russian PO file updated to Vim version 9.0.1757
  src/po/ru.po
Labels: translation

#12857 fix: compliance indent a bit like its near lines
  runtime/pack/dist/opt/termdebug/plugin/termdebug.vim
Labels: runtime, termdebug

#12856 fix: plainly to echo err of program itself
  runtime/pack/dist/opt/termdebug/plugin/termdebug.vim
Labels: runtime, termdebug

#12557 Remove backslashes in man pages using Vim script
  runtime/autoload/dist/man.vim
Labels: runtime

#12542 fix rust indent
  runtime/indent/rust.vim
Labels: runtime

#12306 lua: indent curly bracket followed by line comment
  runtime/indent/lua.vim
Labels: runtime

#11788 fix default link of javaScriptNumber
  runtime/syntax/javascript.vim
Labels: runtime

#11759 fix lua indentation of non-lowercase "keywords"
  runtime/indent/lua.vim
Labels: runtime

#11595 [css] Update pseudo-classes
  runtime/syntax/css.vim
Labels: runtime

#8191 Add single quote to `iskeyword`
  runtime/ftplugin/haskell.vim
Labels: runtime

#6201 Modifications on sdc syntax
  runtime/syntax/sdc.vim
Labels: runtime

#12875 Fix various Termdebug issues
  runtime/pack/dist/opt/termdebug/plugin/termdebug.vim
Labels: runtime, termdebug

#12511 termdebug: frame related commands
  runtime/doc/terminal.txt
  runtime/pack/dist/opt/termdebug/plugin/termdebug.vim
Labels: runtime, termdebug

#11196 crontab.vim: add support for BSD specifics
  runtime/syntax/crontab.vim
Labels: runtime

#10416 Recognize add_compile_definitions as cmake keyword
  runtime/syntax/cmake.vim
Labels: runtime

#12897 Update Turkish translations
  src/po/tr.po
Labels: translation

#12892 More termdebug fixes/improvements
  runtime/doc/terminal.txt
  runtime/pack/dist/opt/termdebug/plugin/termdebug.vim
Labels: runtime, termdebug

#12780 runtime: a few more changes to the runtime files
  runtime/ftplugin/bash.vim
  runtime/indent/bash.vim
  runtime/indent/html.vim
  runtime/indent/mail.vim
  runtime/keymap/accents.vim
  runtime/lang/menu_nl_nl.latin1.vim
  runtime/pack/dist/opt/editexisting/plugin/editexisting.vim
  runtime/syntax/bash.vim
  runtime/syntax/model.vim
  runtime/syntax/shared/typescriptcommon.vim
  runtime/syntax/typescript.vim
  runtime/syntax/typescriptreact.vim
  runtime/syntax/zimbu.vim
  runtime/tutor/tutor.vim
Labels: runtime

#5566 look up keywords by hitting 'K' in batch and shell files
  runtime/ftplugin/gpg.vim
  runtime/ftplugin/modconf.vim
  runtime/ftplugin/muttrc.vim
  runtime/ftplugin/readline.vim
  runtime/ftplugin/sh.vim
  runtime/ftplugin/sshconfig.vim
  runtime/ftplugin/sudoers.vim
  runtime/ftplugin/systemd.vim
  runtime/ftplugin/udevrules.vim
Labels: runtime

#12918 Updated irish translation
  src/po/ga.po
Labels: translation

#12916 Update Ukrainian translation
  src/po/uk.cp1251.po
  src/po/uk.po
Labels: translation

#12911 runtime(typescript): Fix highlighting symbols after number literal
  runtime/syntax/shared/typescriptcommon.vim
Labels: runtime

#12928 translation(ua): Refine (synchronize with Neovim)
  src/po/uk.cp1251.po
  src/po/uk.po
Labels: translation

#12943 runtime: Set b:undo_ftplugin where missing
  .github/CODEOWNERS
  runtime/ftplugin/abap.vim
  runtime/ftplugin/art.vim
  runtime/ftplugin/asm.vim
  runtime/ftplugin/bzl.vim
  runtime/ftplugin/dune.vim
  runtime/ftplugin/fish.vim
  runtime/ftplugin/hare.vim
  runtime/ftplugin/ishd.vim
  runtime/ftplugin/lprolog.vim
  runtime/ftplugin/nginx.vim
  runtime/ftplugin/pbtxt.vim
  runtime/ftplugin/scala.vim
  runtime/ftplugin/sexplib.vim
  runtime/ftplugin/usd.vim
  runtime/ftplugin/vhdl.vim
Labels: runtime

#12944 runtime: Set b:undo_indent where missing
  runtime/indent/ch.vim
  runtime/indent/dune.vim
  runtime/indent/fish.vim
  runtime/indent/go.vim
  runtime/indent/hare.vim
  runtime/indent/jsonc.vim
  runtime/indent/julia.vim
  runtime/indent/logtalk.vim
  runtime/indent/ocaml.vim
  runtime/indent/php.vim
  runtime/indent/raku.vim
  runtime/indent/rst.vim
  runtime/indent/rust.vim
  runtime/indent/scala.vim
  runtime/indent/tex.vim
  runtime/indent/typescript.vim
  runtime/indent/verilog.vim
  runtime/indent/vhdl.vim
Labels: runtime
