Repository vim/vim, pull requests merged in 2023-10, with the labels that each got.

#13242 Elaborate how to disable folding during diffs.
  runtime/doc/options.txt
Labels: documentation

#13239 Russian translation updated to Vim version 9.0.1968
  src/po/ru.cp1251.po
  src/po/ru.po
Labels: translation

#13254 runtime(doc): remove E1507 help tag
  runtime/doc/editing.txt
  runtime/doc/tags
Labels: documentation

#13276 NetRW: Update `.netrwbook` immediately on bookmark change
  runtime/autoload/netrw.vim
Labels: plugin-netrw

#13275 NetRW: Fix diff (`df`) opens files into wrong window
  runtime/autoload/netrw.vim
Labels: plugin-netrw

#13327 runtime(tcsh): Update ftplugin
  runtime/ftplugin/csh.vim
  runtime/ftplugin/tcsh.vim
Labels: runtime

#13324 translation(sr): Update Serbian messages translation
  src/po/sr.po
Labels: translation

#13354 Fix more typos
  runtime/autoload/netrw.vim
  runtime/autoload/phpcomplete.vim
  runtime/autoload/rustfmt.vim
  runtime/autoload/typeset.vim
  runtime/colors/README.txt
  runtime/indent/cdl.vim
  runtime/indent/erlang.vim
  runtime/indent/julia.vim
  runtime/indent/krl.vim
  runtime/indent/rapid.vim
  runtime/indent/systemverilog.vim
  runtime/keymap/greek_utf-8.vim
  runtime/macros/maze/maze_mac
  runtime/macros/urm/README.txt
  runtime/makemenu.vim
  runtime/pack/dist/opt/editorconfig/autoload/editorconfig_core/ini.vim
  runtime/pack/dist/opt/termdebug/plugin/termdebug.vim
  runtime/synmenu.vim
  runtime/syntax/abap.vim
  runtime/syntax/asm68k.vim
  runtime/syntax/chill.vim
  runtime/syntax/debcontrol.vim
  runtime/syntax/nix.vim
  runtime/syntax/ora.vim
  runtime/syntax/po.vim
  runtime/syntax/ppd.vim
  runtime/syntax/spup.vim
  runtime/syntax/tsscl.vim
  runtime/syntax/zsh.vim
  src/errors.h
  src/option.c
Labels: runtime, plugin-netrw, termdebug

#13431 fix: netrw printing empty messages
  runtime/autoload/netrw.vim
Labels: plugin-netrw
