Repository vim/vim, pull requests merged in 2024-02, with the labels that each got.

#13947 translation(ru): Updated Russian translation
  src/po/ru.cp1251.po
  src/po/ru.po
Labels: translation

#13968 Fixes to Catalan translation
  src/po/ca.po
Labels: translation

#13975 ci.yml: skip upgrade
  .github/workflows/ci.yml
Labels: CI

#13999 CI: Add Codecov token
  .github/workflows/ci.yml
Labels: CI

#14054 Fix typo in testing.txt
  runtime/doc/testing.txt
Labels: documentation

#14056 fix(ci): Run `Test_diff_screen` on macos-14 runner
  .github/workflows/ci.yml
Labels: CI

#14060 Add a place holder section for version 9.2
  runtime/doc/tags
  runtime/doc/version9.txt
Labels: documentation

#9124 Add syntax support for Java switch expressions
  runtime/syntax/java.vim
Labels: runtime

#14089 runtime(doc): fix inconsistent indent
  runtime/doc/filetype.txt
  runtime/doc/ft_ada.txt
  runtime/doc/ft_sql.txt
  runtime/doc/if_ole.txt
  runtime/doc/map.txt
  runtime/doc/options.txt
  runtime/doc/os_vms.txt
  runtime/doc/pi_netrw.txt
  runtime/doc/quickfix.txt
  runtime/doc/terminal.txt
  runtime/doc/vim9.txt
Labels: documentation

#14107 translation(sr): Update Serbian translation
  src/po/sr.po
Labels: translation
