Repository vim/vim, pull requests merged in 2024-03, with the labels that each got.

#14122 runtime(doc): some improvements to getregion() docs
  runtime/doc/builtin.txt
Labels: documentation

#14134 translation(ru): Updated Russian translation for NSIS
  .github/CODEOWNERS
  nsis/lang/russian.nsi
Labels: platform-windows, installer

#13813 Use unnamed register while clipboard not exist
  runtime/mswin.vim
Labels: runtime, needs more work

#14145 runtime(c): Recognize "__inline"
  runtime/syntax/c.vim
Labels: runtime

#14143 translation(sr): Update Serbian messages
  nsis/gvim.nsi
  nsis/lang/serbian.nsi
  src/po/sr.po
Labels: platform-windows, translation, installer

#14118 Added Lithuanian translation of Tutor v. 1.4 by Laurynas Stančikas
  runtime/tutor/tutor.lt.utf-8
Labels: translation

#14180 runtime(doc): improve 'winfixbuf' docs
  runtime/doc/options.txt
Labels: documentation

#14176 Update Lithuanian translation of Vim tutor to v.1.7
  runtime/tutor/tutor.lt.utf-8
Labels: translation

#14175 runtime(vim): Update base-syntax, improve number matching
  runtime/syntax/generator/vim.vim.base
  runtime/syntax/testdir/dumps/vim_expr_01.dump
  runtime/syntax/testdir/dumps/vim_expr_02.dump
  runtime/syntax/testdir/dumps/vim_expr_03.dump
  runtime/syntax/testdir/dumps/vim_expr_99.dump
  runtime/syntax/testdir/input/vim_expr.vim
  runtime/syntax/vim.vim
Labels: runtime

#14208 runtime(doc): make :h tag-! more consistent
  runtime/doc/tagsrch.txt
Labels: documentation

#14240 runtime(deb822sources): Add minimal ftplugin
  .github/CODEOWNERS
  runtime/ftplugin/deb822sources.vim
Labels: runtime

#14203 runtime(vim): Update base-syntax, improve function highlighting
  runtime/syntax/generator/gen_syntax_vim.vim
  runtime/syntax/generator/vim.vim.base
  runtime/syntax/testdir/dumps/vim_ex_def_00.dump
  runtime/syntax/testdir/dumps/vim_ex_def_01.dump
  runtime/syntax/testdir/dumps/vim_ex_def_02.dump
  runtime/syntax/testdir/dumps/vim_ex_def_03.dump
  runtime/syntax/testdir/dumps/vim_ex_def_04.dump
  runtime/syntax/testdir/dumps/vim_ex_def_05.dump
  runtime/syntax/testdir/dumps/vim_ex_def_06.dump
  runtime/syntax/testdir/dumps/vim_ex_def_99.dump
  runtime/syntax/testdir/dumps/vim_ex_def_fold_00.dump
  runtime/syntax/testdir/dumps/vim_ex_def_fold_01.dump
  runtime/syntax/testdir/dumps/vim_ex_def_fold_02.dump
  runtime/syntax/testdir/dumps/vim_ex_def_fold_03.dump
  runtime/syntax/testdir/dumps/vim_ex_def_fold_04.dump
  runtime/syntax/testdir/dumps/vim_ex_def_fold_05.dump
  runtime/syntax/testdir/dumps/vim_ex_def_fold_06.dump
  runtime/syntax/testdir/dumps/vim_ex_def_fold_99.dump
  runtime/syntax/testdir/dumps/vim_ex_function_00.dump
  runtime/syntax/testdir/dumps/vim_ex_function_01.dump
  runtime/syntax/testdir/dumps/vim_ex_function_02.dump
  runtime/syntax/testdir/dumps/vim_ex_function_03.dump
  runtime/syntax/testdir/dumps/vim_ex_function_04.dump
  runtime/syntax/testdir/dumps/vim_ex_function_05.dump
  runtime/syntax/testdir/dumps/vim_ex_function_06.dump
  runtime/syntax/testdir/dumps/vim_ex_function_07.dump
  runtime/syntax/testdir/dumps/vim_ex_function_08.dump
  runtime/syntax/testdir/dumps/vim_ex_function_09.dump
  runtime/syntax/testdir/dumps/vim_ex_function_99.dump
  runtime/syntax/testdir/dumps/vim_ex_function_fold_00.dump
  runtime/syntax/testdir/dumps/vim_ex_function_fold_01.dump
  runtime/syntax/testdir/dumps/vim_ex_function_fold_02.dump
  runtime/syntax/testdir/dumps/vim_ex_function_fold_03.dump
  runtime/syntax/testdir/dumps/vim_ex_function_fold_04.dump
  runtime/syntax/testdir/dumps/vim_ex_function_fold_05.dump
  runtime/syntax/testdir/dumps/vim_ex_function_fold_06.dump
  runtime/syntax/testdir/dumps/vim_ex_function_fold_07.dump
  runtime/syntax/testdir/dumps/vim_ex_function_fold_08.dump
  runtime/syntax/testdir/dumps/vim_ex_function_fold_09.dump
  runtime/syntax/testdir/dumps/vim_ex_function_fold_99.dump
  runtime/syntax/testdir/dumps/vim_ex_syntax_09.dump
  runtime/syntax/testdir/dumps/vim_ex_syntax_99.dump
  runtime/syntax/testdir/input/vim_ex_def.vim
  runtime/syntax/testdir/input/vim_ex_def_fold.vim
  runtime/syntax/testdir/input/vim_ex_function.vim
  runtime/syntax/testdir/input/vim_ex_function_fold.vim
  runtime/syntax/vim.vim
Labels: runtime

#14259 CI: mingw complains about unknown escape sequence: '\l'
  .github/workflows/ci.yml
Labels: CI

#14267 Fix for Sodium version 1.0.19 and MinGW
  .github/workflows/ci.yml
Labels: CI

#14146 runtime(vim): Update base-syntax, remove unused groups
  runtime/syntax/generator/vim.vim.base
  runtime/syntax/vim.vim
Labels: runtime

#14274 Termdebug: allow multibyte characters as breakpoint signs
  runtime/pack/dist/opt/termdebug/plugin/termdebug.vim
Labels: runtime, termdebug

#14256 Improve the manageability of the installer compilation
  nsis/README.txt
  nsis/gvim.nsi
  tools/rename.bat
Labels: platform-windows, installer

#14283 runtime(netrw): Fix typo in netrw#NetWrite
  runtime/autoload/netrw.vim
Labels: plugin-netrw

#14292 NSIS: Redesigning the appearance of the vimrc settings page
  nsis/gvim.nsi
Labels: platform-windows, installer

#14311 NSIS: Possibility to include translated license and README.txt files
  Filelist
  Makefile
  nsis/README.txt
  nsis/gvim.nsi
  nsis/lang/README.txt
  nsis/lang/danish.nsi
  nsis/lang/dutch.nsi
  nsis/lang/english.nsi
  nsis/lang/german.nsi
  nsis/lang/greek.nsi
  nsis/lang/italian.nsi
  nsis/lang/japanese.nsi
  nsis/lang/russian.nsi
  nsis/lang/serbian.nsi
  nsis/lang/simpchinese.nsi
  nsis/lang/tradchinese.nsi
  nsis/lang/turkish.nsi
  runtime/doc/Make_mvc.mak
  runtime/doc/Makefile
Labels: platform-windows, installer

#14331 NSIS: Correction in the german.nsi file
  nsis/lang/german.nsi
Labels: platform-windows, installer
