Repository vim/vim, pull requests merged in 2024-01, with the labels that each got.

#13804 runtime(doc): Update Version9.txt for release 9.1
  runtime/doc/map.txt
  runtime/doc/version9.txt
Labels: documentation

#10686 <ScriptCmd> in syntax
  runtime/syntax/vim.vim
Labels: runtime

#13671 runtime(vim): Highlight multiline :syntax commands
  runtime/syntax/testdir/dumps/vim_syntax_00.dump
  runtime/syntax/testdir/dumps/vim_syntax_01.dump
  runtime/syntax/testdir/dumps/vim_syntax_02.dump
  runtime/syntax/testdir/dumps/vim_syntax_03.dump
  runtime/syntax/testdir/dumps/vim_syntax_99.dump
  runtime/syntax/testdir/dumps/vim_variables_03.dump
  runtime/syntax/testdir/dumps/vim_variables_05.dump
  runtime/syntax/testdir/input/vim_syntax.vim
  runtime/syntax/vim.vim
Labels: runtime

#13818 runtime(docs): Fix typos in reltime() help.
  runtime/doc/builtin.txt
Labels: documentation

#13817 runtime(doc): Fix typos in version9.txt
  runtime/doc/version9.txt
Labels: documentation

#13828 Improve the documentation for Vim9 classes
  runtime/doc/vim9class.txt
Labels: documentation

#13836 runtime(netrw): Sync with netrw 174b
  runtime/autoload/netrw.vim
  runtime/doc/pi_netrw.txt
  runtime/doc/tags
Labels: plugin-netrw

#13861 Fix duplicate help tag E741
  runtime/doc/builtin.txt
  runtime/doc/tags
Labels: documentation

#13865 CI: Check help tags for errors (duplicates, missing, etc)
  .github/workflows/ci.yml
  runtime/doc/maketags.awk
Labels: CI

#13868 Replace non-breaking space with normal space
  runtime/doc/builtin.txt
Labels: documentation

#13823 Netrw plugin fix for windows
  runtime/autoload/netrw.vim
Labels: plugin-netrw

#13889 Update Serbian messages translation
  src/po/sr.po
Labels: translation

#13855 runtime(doc): revision makefiles
  runtime/doc/Make_mvc.mak
  runtime/doc/Makefile
Labels: documentation

#13902 correcting Issue #13900 - hu encoding
  src/po/hu.po
Labels: translation

#13901 runtime(doc): change "VIsual mode" to "Visual mode" in :h SafeState
  runtime/doc/autocmd.txt
Labels: documentation

#13910 runtime(netrw): Don't change global options
  runtime/autoload/netrw.vim
Labels: plugin-netrw

#13918 Fix document vim9.txt
  runtime/doc/vim9.txt
Labels: documentation

#12180 Use :exec norm! <leftmouse> before :call mapping in netrw
  runtime/autoload/netrw.vim
Labels: plugin-netrw

#13937 ci.yml: bump to clang-18
  .github/workflows/ci.yml
Labels: CI

#13938 ci.yml: get rid of snap
  .github/workflows/ci.yml
  Filelist
  ci/remove_snap.sh
Labels: CI

#13942 Fixing remote file removal via ssh
  runtime/autoload/netrw.vim
Labels: plugin-netrw
