Repository vim/vim, pull requests merged in 2024-04, with the labels that each got.

#14349 runtime(doc): Fill in a few details regarding :enums
  runtime/doc/builtin.txt
  runtime/doc/vim9class.txt
Labels: documentation

#14422 Correctly distribute libsodium in the installer
  nsis/gvim.nsi
Labels: platform-windows, installer

#14481 translation(ru): Updated translation
  src/po/ru.cp1251.po
  src/po/ru.po
Labels: translation

#13104 runtime(vim): Improve Vim9 and legacy-script comment highlighting
  .github/CODEOWNERS
  runtime/ftplugin/vim.vim
  runtime/syntax/generator/gen_syntax_vim.vim
  runtime/syntax/generator/vim.vim.base
  runtime/syntax/testdir/dumps/vim9_keymap_00.dump
  runtime/syntax/testdir/dumps/vim9_keymap_01.dump
  runtime/syntax/testdir/dumps/vim9_keymap_99.dump
  runtime/syntax/testdir/dumps/vim9_legacy_header_00.dump
  runtime/syntax/testdir/dumps/vim9_legacy_header_99.dump
  runtime/syntax/testdir/dumps/vim_00.dump
  runtime/syntax/testdir/dumps/vim_99.dump
  runtime/syntax/testdir/dumps/vim_ex_commands_31.dump
  runtime/syntax/testdir/dumps/vim_ex_commands_64.dump
  runtime/syntax/testdir/dumps/vim_ex_comment-vim9_00.dump
  runtime/syntax/testdir/dumps/vim_ex_comment-vim9_01.dump
  runtime/syntax/testdir/dumps/vim_ex_comment-vim9_02.dump
  runtime/syntax/testdir/dumps/vim_ex_comment-vim9_99.dump
  runtime/syntax/testdir/dumps/vim_ex_comment_00.dump
  runtime/syntax/testdir/dumps/vim_ex_comment_01.dump
  runtime/syntax/testdir/dumps/vim_ex_comment_02.dump
  runtime/syntax/testdir/dumps/vim_ex_comment_99.dump
  runtime/syntax/testdir/dumps/vim_keymap_01.dump
  runtime/syntax/testdir/dumps/vim_keymap_99.dump
  runtime/syntax/testdir/input/vim9_keymap.vim
  runtime/syntax/testdir/input/vim9_legacy_header.vim
  runtime/syntax/testdir/input/vim_ex_commands.vim
  runtime/syntax/testdir/input/vim_ex_comment-vim9.vim
  runtime/syntax/testdir/input/vim_ex_comment.vim
  runtime/syntax/testdir/input/vim_keymap.vim
  runtime/syntax/vim.vim
Labels: runtime

#14548 macos: use explicit version tags for runners
  .github/workflows/ci.yml
Labels: CI

#14618 The download URL of the library "libsudium"
  .github/workflows/ci.yml
Labels: CI

#14628 ci.yml: remove repo microsoft-prod.list
  .github/workflows/ci.yml
Labels: CI

#14633 Update Serbian messages translation
  src/po/sr.po
Labels: translation

#14644 runtime(doc): fix typo synconcealend -> synconcealed
  runtime/doc/pattern.txt
Labels: documentation

#14646 runtime(jq): update tags for jq syntax
  runtime/doc/tags
Labels: documentation
